name: Trivy

on:
  workflow_dispatch:

jobs:
  ubuntu_build:
    name: Build on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ls -l "${{ github.workspace }}"
      - run: cat "${{ github.workspace }}/templates/test.tpl"
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          scanners: misconf
          format: template
          template: "@${{ github.workspace }}/templates/test.tpl"
          output: result.json
      - if: always()
        run: cat result.json
